.title-window {
  background: var(--color-window-bg);
  border: 2px solid;
  border-radius: 12px;
  border-top-color: var(--color-relief-light);
  border-left-color: var(--color-relief-light);
  border-right-color: var(--color-relief-dark);
  border-bottom-color: var(--color-relief-dark);
  box-shadow: 1px 1px 0 var(--color-relief-shadow);
}

.title-sheet {
  padding: 1.5rem;
}

.start-btn {
  padding: 0.9rem 2.5rem;

  background: var(--color-pink-title);
  color: white;

  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 3px solid var(--color-text-primary);
  border-radius: 999px;

  box-shadow: 0 4px 0 var(--color-text-primary);

  cursor: pointer;

  animation: color-pulse 2s infinite;
  transition: transform 0.1s;
}

.start-btn:hover {
  transform: translateY(-2px);
}

.start-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 var(--color-text-primary);
}

@keyframes color-pulse {
  0%,
  100% {
    background: var(--color-pink-title);
    box-shadow:
      0 4px 0 var(--color-text-primary),
      0 0 0 rgba(241, 147, 180, 0);
  }

  50% {
    background: var(--color-blue-title);
    box-shadow:
      0 4px 0 var(--color-text-primary),
      0 0 16px rgba(127, 178, 232, 0.6);
  }
}
.window-controls {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.window-btn {
  color: black;
  width: 22px;
  height: 20px;
  background: rgb(218, 217, 217);
  border: 1px solid var(--color-relief-shadow);
  border-top-color: var(--color-relief-light);
  border-left-color: var(--color-relief-light);
  border-radius: 5px;
  font-size: 19px;
  font-weight: 1300;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: default;
  user-select: none;
}
.window-btn:active {
  border-top-color: var(--color-relief-shadow);
  border-left-color: var(--color-relief-shadow);
  border-right-color: var(--color-relief-light);
  border-bottom-color: var(--color-relief-light);
}

.window-btn--close:hover {
  background: #e24c4c;
  color: white;
}
